<h1>Edit School</h1>
<%= form_tag "/schools/#{@school.id}", method: :patch do %>
  <div>
    <%= label_tag :name %>
    <%= text_field_tag :name @school.name %>
   </div>
   <div>
    <%= label_tag :place %>
    <%= text_field_tag :place @school.place %>
   </div> 
  <%= submit_tag "Update School" %>
 <% end %> 